<script>
  import './assets/style.css'
  import type { Person } from './types/person'

  let btnText: string = 'TEST BTN'

  let persons: Array<Person> = [
    { firstName: 'John', lastName: 'Rain', age: 44 },
    { firstName: 'John', lastName: 'Wick', age: 35 },
    { firstName: 'John', lastName: 'Constantin', age: 30 },
    { firstName: 'John', lastName: 'Harker', age: 42 }
  ]
</script>

<main class="flex flex-col justify-center items-center h-screen bg-green-300">
  <ol class="list-none">
    {#each persons as person}
      <li class="m-[18px]">
        <div class="border border-solid rounded-md border-gray-400 p-4">
          <div>
            <span class="tag">First Name:</span> {person.firstName}
          </div>
          <div>
            <span class="tag">Last Name:</span> {person.lastName}
          </div>
          <div>
            <span class="tag">Age: </span> {person.age} years
          </div>
        </div>
      </li>
    {/each}
  </ol>

  <button class="btn btn-primary mx-auto">
    {btnText}
  </button>
</main>

<style>
  .btn {
    @apply p-2 outline-none border-0;
  }
  .btn-primary {
    @apply bg-red-500 text-white;
  }
  .tag {
    @apply text-red-500 font-bold;
  }
</style>
